/* @group Clearfix */

.clearfix:before,.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

/* @end */

.pullfix {
	overflow: hidden;
}

.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
	*line-height: 0;
}

.ir br {
	display: none;
}

.hidden {
	display: none;
	visibility: hidden;
}

.visuallyhidden {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	position: static;
	margin: 0;
	height: auto;
	width: auto;
	overflow: visible;
	clip: auto;
}

.invisible {
	visibility: hidden;
}